/* madagascar */

* {
    box-sizing: border-box;
    margin: 0;
    /* width: 100%; */   
}

/* div {
    /* border: 5px solid white; */
    /* float: left;
} */ 


.right {
    float: right;
}


.left {
    float: left;
}
.white {
    float: right;
    /* display: inline-block; */
    background-color: white;
    width: 25%; 
    height: 100px; 
}



.red {
    /* float: left; */
    display: inline-block;
    background-color: red;
    width: 75%;
    height: 300px;
    
}


.green {
    /* float: left; */
    display: inline-block;
    background-color: green;
    width: 75%;
    height: 300px;

}