/* madagascar */


body{
    position: relative;
    width: 960px;
}

.container{
    width: 100%;
    margin: auto;
    padding: 50px;
    position: relative;
}

.flag-name{
    position: relative;
    margin-top: 2px;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 50px;
    text-align: center;


}
/* vicky notes */
/* //parent tag = relative and child tag =absolute */


.madagascar {
    border: 5px soild black;
    position: relative;
    background: white;
    width: 500px;
    height: 330px;
}

.madagascar .red {
    position: absolute;
    background-color: red;
    width: 375px;
    height: 175px;
    left: 275px;
    
}

.madagascar .green {
    position: absolute;
    background-color: green;
    width: 375px;
    height: 175px;
    top: 150px;
    left: 275px;
}
* {
    box-sizing: border-box;
    margin: 0;
    /* width: 100%; */   
}

/* div {
    /* border: 5px solid white; */
    /* float: left;
} */ 


/* . */