* {
    box-sizing: border-box;
  }

#header {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 40px;

}

#mario {
    position: absolute;
    margin-top: -330px;
    float: left;
    width: 7%;
    padding: 45px;
    margin-left: 1300px;
}

h1, h4 {
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

input {
    width: 300px;
    height: 50px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

form div {
    text-align: center;
    display: inline-block;
    position: relative;
    width: 498px;
}

#container, #Submit  {
  text-align: center;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
  font-family: 'Inconsolata', monospace;
  padding: 40px;
  /* margin-bottom: 7px; */
  background-color:rgb(219, 161, 52);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



#bombs, #cheeps {
    width: 60%;
}

#turtles {
    float: right;
}

#goombas {
    margin-left: 70px;
}