* {
    margin: 0;
    box-sizing: border-box;
  }

#header {
    
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 40px;
}


#background {
    background: url('https://i.pinimg.com/originals/54/b5/e4/54b5e461a747c36e4649edafbb9e606d.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.parent {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
}

.images {
    display: flex;
    justify-content: space-evenly;
}

#bombs, #cheeps, #goombas {
    width: 10%;
    height: 20%;
}


h1, h4 {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    padding: 10pt;
}

input {
    width: 100pt;
    height: 20pt;
    font-size: 14px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.12), 0 8px 10px rgba(0,0,0,0.24);
}


.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
} 

#button {
display: flex;
justify-content: center;
font-family: 'Inconsolata', monospace;
padding: 10px;
margin: 7px;
width: 20%;
/* background-color:red; */
/* color: #ffffff; */
box-shadow: 0 1px 8px rgba(0,0,0,0.12), 0 8px 10px rgba(0,0,0,0.24);
}

#btn {
    background-color: red;
    color: white;
    height: 100%;
    width: 100%;
    
}

#container {
display: flex;
justify-content: center;
font-family: 'Inconsolata', monospace;
padding: 10px;
margin: 7px;
width: 20%;
background-color:red;
color: #ffffff;
box-shadow: 0 1px 8px rgba(0,0,0,0.12), 0 8px 10px rgba(0,0,0,0.24);
}

footer {
    display: flex;
    opacity: 0.5;
    font-family: 'Inconsolata', monospace;
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    bottom: 0;
    color: #ffffff;
    background-color: black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10pt;
    flex-shrink: 0; 
}


@media(max-width: 768pt) {
    footer, #container, #button {
        width: 100%;
    }

}

