* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-size: 40pt;
    color: rgb(0, 0, 0);
    letter-spacing: 20px;
    background-image: url("https://previews.123rf.com/images/leungchopan/leungchopan1506/leungchopan150600626/41731819-cork-board-background.jpg");
    padding: 40px;
    -webkit-text-stroke: grey 1px;
}


.input {
  width: 100%;
  padding: 16px 20px;
  /* margin: 8px 0; */
  display: inline-block;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-sizing: border-box;
  background-image: url(https://static1.squarespace.com/static/5b4e0e6a5b409b5848de216a/t/5b93580a8a922dd0d73f1368/1536382999696/smart-food-banner.jpg?format=2500w);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.formback {
    background-color: rgba(17, 29, 17, 0.5);
    width: 20%;
    position: relative;
    padding: 10px;
    
}

.formStuff {
    width: 20%;
    
}

@media(max-width: 889px){
    .formStuff, .formback {
        width: 100%;
    }

    .input {
        text-align: center;
    }


    /* #container {
        grid-template-columns: 300px 300px 300px;
    } */
}


.sub {
    width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sub:hover {
    background-color: #45a049;
    border-radius: 4px;
}


#container {
    width: 100%;
    display: grid;
    border: 1px solid white;
    grid-template-columns: auto auto auto;
    border-radius: 4px;
    padding: 20px;
    font-size: 5pt;

}

img {
    width: 20%;
    height: 20%;
}


/* .api-img {
    width:2%;
    height: 2%;
} */

#container > div {

    display:flex;
    width: 100%;
    border: 1px dotted black;
    padding: 30px;
    border-radius: 10px;
    flex-wrap: wrap;


}




/* #container {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 300px 300px 300px;
    border-radius: 4px;
    padding: 20px;
    font-size: 10pt;
    -webkit-text-stroke: white .5px;
    
} */

/* .input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: row;
    font-size: 15pt;
      
} */

/* button {
    display: flex;
    flex-direction: row;
    float: right;
    
} */

/* these arent doing anything */
 /* #task {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px; 
    /* font-size: 2em; */
    /* color: #ffeead; 
    
 } */


/* #container > div {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    padding: 30px;
    border-radius: 10px;

} */

/* img {
    width: 20%;
}



@media(min-width: 768pt) {
     body, #container {
        width: 100%;
    }

} */