
#container {
    display: grid;
    /* grid-template-rows: 100px 100px 100px; */
    grid-auto-rows: auto auto auto;
}

/* //dircet child selector */
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}


img {
    width: 30%;
}

#container {
    font-size: 6pt;
}


.todo-continer{
    border: 1px solid balck;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
}

.todo-continer h1 {

}