* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-size: 40pt;
    color: rgb(0, 0, 0);
    letter-spacing: 20px;
    background-image: url("https://previews.123rf.com/images/leungchopan/leungchopan1506/leungchopan150600626/41731819-cork-board-background.jpg");
    padding: 40px;
    -webkit-text-stroke: grey 1px;
}

.header:hover {
   color: #45a049;
   -webkit-text-stroke: black 3px;
}


.input {
  width: 100%;
  padding: 16px 20px;
  /* margin: 8px 0; */
  display: inline-block;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-sizing: border-box;
  background-image: url(https://static1.squarespace.com/static/5b4e0e6a5b409b5848de216a/t/5b93580a8a922dd0d73f1368/1536382999696/smart-food-banner.jpg?format=2500w);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.formback {
    background-color: rgba(17, 29, 17, 0.5);
    width: 20%;
    position: relative;
    padding: 10px;
    
}

.formStuff {
    width: 20%;
    
}

@media(max-width: 889px){
    .formStuff, .formback {
        width: 100%;
    }

    .input {
        text-align: center;
    }
}


.sub {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  
}

.sub:hover {
    background-color: #45a049;
    border-radius: 4px;
}


#container {
    width: 100%;
    display: grid;
    border: 1px solid white;
    grid-template-columns: auto auto auto;
    border-radius: 4px;
    padding: 20px;
    font-size: 5pt;
    

}



@media(max-width: 965px) {
    #container {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
   
}



@media(max-width: 700px){
    .sub {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

h3 {
    color: green;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    margin-left: 90px;
    
    
    
}

h5 {
    font-size: 15px;
    padding: 5px;
    position: absolute;
    margin-top: 30px;
    margin-left: 90px;
    
}

h6 {
    font-size: 15px;
    padding: 5px;
    position: absolute;
    margin-top: 60px;
    margin-left: 150px;
    
}



.api-img  {
    width:100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    /* position: absolute; */
}

button {
    width: 40px;
    height: 40px;
    background-color:#4CAF50 ;
    color: white;
    border-radius: 50px;
    
    font-size: 8px;
    text-align: center;
}

.my-delBtn {
    position: absolute;
}

button:hover {
    background-color: #45a049;
    
}



#container > div {

    display:flex;
    width: 80%;
    /* border: 5px solid white; */
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15px;
    box-shadow: 5px 5px 8px 5px #888888;
    

}


.my-checkboxes{
    zoom: 350%;
    flex-wrap: column;
    margin-top: 15px;
    margin-left: 30px;
    position: absolute;
    
}

.my-checkboxes:hover{
    background-color: #4CAF50;
    /* margin: 10px; */

    
}


.your-tasks {
    margin: 15px;
    letter-spacing: 20px;
    font-size: 40pt;
    text-align: center;
    
    

}



