.app-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.controls-container {
    height: 50px;
    background-color: #886688;
    width: 400px;

}