
img {
    float: left;
    margin: 10px;
    position: relative;
    width: 35%;
    height: auto; 
}

#headline h1 {
    color: darkgreen;
}

#headline {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: 1px dotted violet; */
    text-align: center;

}

p {
    line-height: 25px;
}

a:link {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.more {
    text-transform: uppercase;
}